apiVersion:  apps.openshift.io/v1
kind: DeploymentConfig
metadata:
  name: "{{ .Values.name  }}"
  namespace: "{{  .Values.namespace }}"
  labels:
    app: "{{ .Values.name  }}"
spec:
  strategy:
    type: Rolling
    rollingParams:
      updatePeriodSeconds: 1
      intervalSeconds: 1
      timeoutSeconds: 600
      maxUnavailable: 25%
      maxSurge: 25%
    resources: {}
    activeDeadlineSeconds: 21600
  triggers: []
  replicas: {{ .Values.replicaCount }}
  revisionHistoryLimit: 10
  test: false
  selector:
    app: "{{ .Values.name  }}"
    deploymentconfig: "{{ .Values.name  }}"
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: "{{ .Values.name  }}"
        deploymentconfig: "{{ .Values.name  }}"
    spec:
      containers:
        - name: "{{ .Values.name  }}"
          image: "{{ .Values.image.name }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          ports:
            - containerPort: 8080
              protocol: TCP
            - containerPort: 8443
              protocol: TCP
          resources: {}
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          imagePullPolicy: Always
          env:
            - name: HOST
              valueFrom:
                secretKeyRef:
                  key: HOST
                  name: redis-configs
            - name: PASSWORD
              valueFrom:
                secretKeyRef:
                  key: PASSWORD
                  name: redis-configs
      restartPolicy: Always
      terminationGracePeriodSeconds: 30
      dnsPolicy: ClusterFirst
      securityContext: {}
      schedulerName: default-scheduler
